<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="100%" cellspacing="0">
        <tr bgcolor="#3b5998">
            <td width="55%"><img src="download.png" width="220"></td>
            <td align="left">
                <input type="text"> <input type="text">
                <input type="button" value="LOGIN">
            </td>
        </tr>
    </table>
    <h1>Connect with friends and the world<br> around the facebook</h1>
    <br>
    <img src="timeline.jpg">
    <h5>see photos and updates from friends in news feed</h5>
    <h5>share whats' new in your life on your timeline</h5>
    <h5>find more of what you're loocking for with graph search</h5>
    <h5>hiiiiiiiii</h5>
</body>
</html>